## Ignore Recomp files, Build results, and Assets

.vs/

/out/
/assets/$SystemUpdate
/assets/Beta
assets/buildVersion.ver
assets/default.xex
assets/gardensave.png
assets/gardensavejff.png
assets/photosave.png
/assets/PinataCentral_v1.2.0a
assets/x360_imports.idc
assets/xextool.exe
assets/XexTool.txt
assets/settingssave.png
assets/default.xex.i64
assets/default.xex.id0
assets/default.xex.id1
assets/default.xex.nam
assets/default.xex.til
assets/default.xex_20260315230351.i64
assets/default.xex_functions.csv
out/build/win-amd64-relwithdebinfo/retip.pdb
